$white: #ebebeb;
$text-black: #000;
$lyrics-bg: #91908c;
$pearl-bush: #e9dcd6;
$sky-blue: #6dd0fe;
$aqua-marine: #58e9b6;
$silver: #c1c8c6;
$grey: #91908c;
$black: #292929;
$red: #ce0025;
$purple: #2a283d;
$brown: #8b6952;
$smalt-blue: #56808f;
$coral-tree: #aa6a7b;
$brown-grey: #988a5f;
